.tm-popup-body,
.tm-settings-right,
.tm-select-menu,
.tm-scrollbar {
  scrollbar-width: thin;
}

.tm-popup-body,
.tm-settings-right,
.tm-select-menu,
.tm-scrollbar {
  scrollbar-color: #bbb #f5f5f5;
}

.tm-popup-body::-webkit-scrollbar,
.tm-settings-right::-webkit-scrollbar,
.tm-select-menu::-webkit-scrollbar,
.tm-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.tm-popup-body::-webkit-scrollbar-thumb,
.tm-settings-right::-webkit-scrollbar-thumb,
.tm-select-menu::-webkit-scrollbar-thumb,
.tm-scrollbar::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

.tm-popup-body::-webkit-scrollbar-track,
.tm-settings-right::-webkit-scrollbar-track,
.tm-select-menu::-webkit-scrollbar-track,
.tm-scrollbar::-webkit-scrollbar-track {
  background: #f5f5f5;
}

.tm-popup-body::-webkit-scrollbar-thumb,
.tm-settings-right::-webkit-scrollbar-thumb,
.tm-select-menu::-webkit-scrollbar-thumb,
.tm-scrollbar::-webkit-scrollbar-thumb {
  background-color: #bbb;
}
