#block_content {
  overflow: unset;
}

.cart_right {
  position: sticky;
  top: 0;
}

.guild_tab.cart_items .gh_1,
.guild_tab.cart_items .gс_1 {
  width: 1%;
}

.guild_tab.cart_items .gh_2 {
  border-left: none;
  padding-left: 0;
}

.guild_tab.cart_items .gh_3 {
  width: 1px;
  min-width: 170px;
  border-right: none;
}

.guild_tab.cart_items .gh_4 {
  width: 1%;
}

.guild_tab.cart_items .gс_2 {
  border-left: none;
  padding-left: 0;
}

.guild_tab.cart_items .gс_4 {
  white-space: nowrap;
  text-align: right;
  border-right: none;
  width: 1%;
}

.cart_items .item:hover {
  background: #edf4fa;
}

.cart_items .item.disabled:hover {
  background: transparent;
}

.cart_items .item.tm-selected {
  display: none;
}


.tm-cart-timer {
  display: block;
}

.tm-char-face {
  width: 100%;
  height: 100%;
  /*border-radius: 50%;*/
  opacity: 0;
  -webkit-mask-image: linear-gradient(to bottom, transparent, #000 5px, #000 80%, transparent),
  linear-gradient(to right, transparent, #000 5px, #000 calc(100% - 5px), transparent);
  -webkit-mask-composite: destination-in;
  mask-image: linear-gradient(to bottom, transparent, #000 5px, #000 80%, transparent),
  linear-gradient(to right, transparent, #000 5px, #000 calc(100% - 5px), transparent);
  mask-composite: intersect;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

.tm-char-face--loaded {
  opacity: 1;
}

.tm-char-face--error {
  opacity: 0;
}

.tm-char-face-ready div {
  background: none !important;
}
