.tm-selected-container {
  position: relative;
  min-height: 100px;
  padding: 18px 14px 18px 11px;
}

.tm-selected-container::before {
  content: '';
  position: absolute;
  left: -1px;
  top: 0;
  bottom: 0;
  width: 100%;
  pointer-events: none;
  background:
          url(https://aa.cdn.gmru.net/static/aa.mail.ru/img/main/content/itemrestore/cart_items_sel_top.png) left top no-repeat,
          url(https://aa.cdn.gmru.net/static/aa.mail.ru/img/main/content/itemrestore/cart_items_sel_bottom.png) left bottom no-repeat;
}

.tm-selected-list {
  display: flex;
  flex-direction: column;
  min-height: 181px;
  padding: 13px 15px;
  background: url(https://aa.cdn.gmru.net/static/aa.mail.ru/img/main/content/itemrestore/cart_items_sel_bg.jpg) left bottom no-repeat;
  max-height: 181px;
  overflow: auto;
  position: relative;
}

.tm-selected-items-help {
  margin: auto;
  color: #495a6d;
  font: 14px / 16px Cambria, Georgia, "Times New Roman", Times, serif;
  text-align: center;
  cursor: default;
}

.tm-selected-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 2px 36px 2px 0;
  font: 14px / 16px Cambria, Georgia, "Times New Roman", Times, serif;
  border-bottom: 1px solid #d6dde5;
  border-top: 1px solid #d6dde5;
  cursor: default;
  z-index: 1;
}

.tm-cart-item-name {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.tm-selected-item .del_btn {
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -12px;
  right: 0;
  width: 25px;
  height: 25px;
  background-image: url(https://aa.cdn.gmru.net/static/aa.mail.ru/img/main/content/itemrestore/icons.png);
  background-repeat: no-repeat;
  background-position: left 0px;
  cursor: pointer;
}
